<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>Portraits - Regards Citoyens</title>
 <link href="css/roboto.css" rel="stylesheet">
 <link href="css/vuetify.min.css" rel="stylesheet">
<style>
.subheader {
  text-transform: uppercase;
}
.list [disabled]{
  background-color: #f44336;
  opacity: 1!important;
}
.input-group--slider .input-group__input {
  margin-left: 16px;
}
.progress-circular {
  left: 50%;
  top: 150px;
}
.wrap {
  text-align: center;
}
.wrap img {
  border: 1px solid #424242;
}
</style>
</head>
<body>
  <div id="portraits">
  <v-app dark toolbar>
    <v-navigation-drawer permanent clipped>
      <v-list
        v-for="list in menus"
        :key="list.id"
      >
        <v-subheader class="mt-3 grey--text text--darken-1">{{ list.name }}</v-subheader>
        <v-list-tile
          v-for="item in list.options"
          :key="item.id"
          :disabled="list.selected === item.id"
          @click="selectOption(item.id, list.id)"
          ripple
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.name }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-subheader class="mt-3 grey--text text--darken-1"> Taille des photos</v-subheader>
      <v-slider
        v-model="imgWidth"
        :min="imgWidthMin"
        :max="imgWidthMax"
        :step="imgWidthStep"
        prepend-icon="photo_size_select_large"
        thumb-label
        snap
      ></v-slider>
    </v-navigation-drawer>
    <v-toolbar class="red" fixed>
      <v-toolbar-title>
        Trombinoscope des parlementaires
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        label="Chercher..."
        single-line
        append-icon="search"
        dark
        hide-details
      ></v-text-field>
    </v-toolbar>
    <main>
      <v-container fluid absolute>
        <v-progress-circular v-if="loadingData" indeterminate v-bind:size="100" v-bind:width="10" class="red--text"></v-progress-circular>
        <v-layout row wrap>
          <v-flex
            v-for="parl in parls"
            :key="parl.slug"
            v-tooltip:top="{html: parl.name + ' (' + parl[sort] + ')'}"
          >
            <a :href="parl.url" target="_blank">
              <img
                :src="source + parl.slug + '/300?color=1&noflip=1'"
                :alt="parl.name"
                :width="imgWidth"
                :height="imgRatio * imgWidth"
              />
            </a>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </v-app>
  </div>

 <script src="js/jquery-ajax.js"></script>
 <script src="js/vue.min.js"></script>
 <script src="js/vuetify.min.js"></script>
 <script>
new Vue({
  el: "#portraits",
  data: {
    menus: [{
      id: "source",
      name: "Chambre",
      selected: "an-2017",
      options: [{
        id: "an-2017",
        name: "AN 15ème législature",
        source: "https://www.nosdeputes.fr",
        icon: "account_balance"
      }, {
        id: "an-2012",
        name: "AN 14ème législature",
        source: "https://2012-2017.nosdeputes.fr",
        icon: "account_balance"
      }, {
        id: "an-2007",
        name: "AN 13ème législature",
        source: "https://2007-2012.nosdeputes.fr",
        icon: "account_balance"
      }, {
        id: "senat",
        name: "Sénat",
        source: "https://www.nossenateurs.fr",
        icon: "looks"
      }]
    }, {
      id: "sort",
      name: "Trier par",
      selected: "nom",
      options: [{
        id: "nom",
        name: "Ordre alphabétique",
        icon: "sort_by_alpha"
      }, {
        id: "groupe",
        name: "Groupe politique",
        icon: "people"
      }, {
        id: "sexe",
        name: "Sexe",
        icon: "wc"
      }, {
        id: "naissance",
        name: "Date de naissance",
        icon: "date_range"
      }, {
        id: "circo",
        name: "Circonscription",
        icon: "my_location"
      }]
    }],
    loadingData: true,
    search: "",
    imgWidth: 120,
    imgWidthMin: 40,
    imgWidthMax: 200,
    imgWidthStep: 10,
    imgRatio: 1.3,
    editing: null,
    parls: [],
    data: {}
  },
  mounted: function() {
    window.addEventListener("hashchange", this.updateView);
    this.$nextTick(this.updateView);
  },
  watch: {
    imgWidth: function(data) {
      clearTimeout(this.editing);
      this.editing = setTimeout(this.setUrl, 25);
    },
    search: function(data) {
      clearTimeout(this.editing);
      this.editing = setTimeout(this.updateData, 250);
    }
  },
  methods: {
    setUrl: function() {
      window.location.hash = this.menus.map(function(m) {
        return m.id + "=" + m.selected;
      }).filter(function(d) { return /=./.test(d); })
      .concat("taille=" + this.imgWidth)
      .join("&");
    },
    readUrl: function() {
      var urlArgs = window.location.hash.slice(1).split(/&/),
        el;
      for (var i=0, n=urlArgs.length; i<n; i++) {
        el = urlArgs[i].split(/=/);
        if (el[0] === "taille")
          this.imgWidth = +el[1];
        else this.menus
          .filter(function(m) { return m.id === el[0]; })
          .forEach(function(m) { m.selected = el[1]; });
      }
    },
    selectOption: function(optionId, menuId) {
      var update = false;
      this.menus.forEach(function(m) { if (m.id === menuId) {
        m.selected = optionId;
        update = true;
      } });
      if (update) this.$nextTick(this.setUrl);
    },
    comparable: function(s) {
      return s.toLowerCase()
        .replace(/[àâä]/g, 'a')
        .replace(/[éèêë]/g, 'e')
        .replace(/[îï]/g, 'i')
        .replace(/[ôö]/g, 'o')
        .replace(/[ùûü]/g, 'u')
        .replace(/ç/g, 'c');
    },
    updateView: function() {
      this.readUrl();
      var self = this,
        sourceId = this.menus[0].selected,
        source = this.menus[0].options.filter(function(o) { return o.id === sourceId; })[0],
        typeParl = source.source.replace(/^.*\.nos(.*)s\.fr.*$/, "$1"),
        agize = function(d) {
          return Math.floor((new Date() - new Date(d))/31557600000)
        };
      this.parls = [];
      this.source = source.source + "/" + typeParl + "/photo/";
      this.imgRatio = (typeParl === "depute" ? 1.3 : 1.37);
      this.loadingData = true;
      if (!this.data[sourceId])
        $.ajax({
          url: source.source + "/" + typeParl + "s" + (typeParl === "senateur" ? "/enmandat" : "")+ "/json",
          success: function (data) {
            data = JSON.parse(data);
            self.data[sourceId] = data[typeParl + "s"].map(function(p) {
              p = p[typeParl];
              return {
                slug: p.slug,
                name: p.nom,
                searchable: self.comparable(p.nom + " " + p.groupe_sigle),
                url: source.source + "/" + p.slug,
                nom: p.nom_de_famille,
                groupe: p.groupe_sigle,
                sexe: p.sexe,
                naissance: p.date_naissance,
                circo: p.num_deptmt + (p.num_circo ? "-" + p.num_circo : "")
              };
            });
            self.updateData();
          },
          error: function (error) {
          }
        });
      else this.$nextTick(this.updateData);
    },
    updateData: function() {
      this.sort = this.menus[1].selected;
      this.parls = this.data[this.menus[0].selected];
      if (this.search) {
        var search = this.comparable(this.search);
        this.parls = this.parls.filter(function(p) {
          return ~(p.searchable.indexOf(search));
        });
      }
      var sort = this.sort;
      this.parls.sort(function(a, b) {
        if (sort !== "nom") {
          if (a[sort] < b[sort])
            return (sort === "naissance" ? 1 : -1);
          if (a[sort] > b[sort])
            return (sort === "naissance" ? -1 : 1);
        }
        if (a.nom < b.nom) return -1;
        if (a.nom > b.nom) return 1;
        return 0;
      });
      this.loadingData = false;
    }
  }
});
 </script>
</body>
</html>
